{% extends 'baseHome.html' %}

{% block body %}

{% if error %}
    <div class='alert alert-danger'>{{ error }}</div>
{% endif %}

<style>
    .form-box{
        position: relative;
        padding: 2%;
        margin: 1%;
        width: 50%;
        left: 22%;
        background-color: aliceblue;
        border: 0.2px solid aliceblue;
        transition: all 0.3s;
    }
    @media only screen and (max-width: 800px){
        .form-box{
            width: 90%;
            left: 5%;
            right: 5%;
            transition: all 0.3s;
        }
    }
    label{
        text-align: center;
        width: 30%;
    }
    input{
        width: 50%;
    }
</style>

<div class='form-box'>
    <h3 style='text-align: center;'>Login</h3>
    <form method='post'>
        {% csrf_token %}
        <div style='text-align: left;'>
            {{ form.as_p }}
        </div>
        <button class='btn btn-primary' style="position: relative; left: 40%; width: 20%;">Login</button>
        <div style="text-align: center;">Don't have an account? <a href="{% url 'fantasycricket:register' %}">Click here</a> to register</div>
    </form>
</div>
{% endblock %}