{% extends 'base.html' %}

{% block body %}

{% load static %}
{% load tags %}

<style>
    *{
        box-sizing: border-box;
    }
    .single-match-box{
        padding: 2%;
        margin: 1%;
        background-color: aliceblue;
        cursor: pointer;
        position: relative;
        width: 70%;
        left: 15%;
        right: 15%;
        text-align: center;
        box-shadow: 2px 2px 5px rgba(120, 120, 255, 0.2);
        transition: all 1s;
    }
    .single-match-box:hover{
        padding: 4%;
        box-shadow: 2px 2px 8px rgba(120, 120, 255, 0.2);
        transition: all 1s;
    }
    @media only screen and (max-width: 750px){
        .single-match-box{
            width: 96%;
            left: 2%;
            right: 2%;
            transition: all 1s;
        }
    }
    
    .single-match-box-upcoming{
        padding: 2%;
        color: aliceblue;
        margin: 1%;
        background-color: rgba(120, 120, 120, 0.9);
        position: relative;
        width: 70%;
        left: 15%;
        right: 15%;
        text-align: center;
        box-shadow: 2px 2px 5px rgba(120, 120, 120, 0.2);
        transition: all 1s;
    }
    @media only screen and (max-width: 750px){
        .single-match-box-upcoming{
            width: 96%;
            left: 2%;
            right: 2%;
            transition: all 1s;
        }
    }
    
    .teams-class{
        font-size: 20px;
    }
</style>


<div class="outer-box">
    <form method='post' name="matchForm" action="{% url 'fantasycricket:contests' %}">
        {% csrf_token %}
        {% for match in matches %}
            <div class='single-match-box single-match-box{{match.unique_id}}' id='single-match{{ match.unique_id }}'>
                {% if match.applicable %}
                    <input type="radio" value="{{ match.unique_id }}" id="choice_match_id{{ match.unique_id }}" name='choice_match_id' style="display: none;">
                {% endif %}
                <div class="teams-class"> <img src="{% static 'image/ball5.png' %}" height='70px' width='70px' class='ball-img'> <b>{{ match|filterKey:"team-1" }} VS {{ match|filterKey:"team-2" }}</b> </div>
                {% if match.matchStarted == True %} 
                    <div style="color: green;"><i>Match Started</i></div> 
                {% else %}
                    <div> {{ match.remainingTime }} </div>
                {% endif %}
                <br>
            
                <script>
                    $('#single-match{{ match.unique_id }}').on('mouseover', function(){
                        $('#choice_match_id{{ match.unique_id }}').prop('checked', true);
                    })
                    $('#single-match{{ match.unique_id }}').on('mouseout', function(){
                        $('#choice_match_id{{ match.unique_id }}').prop('checked', false);
                    })
                    
                    {% if match.applicable %}
                        $('#single-match{{ match.unique_id }}').on('click', function(){
                            $('form[name=matchForm]').submit();
                        })
                    {% endif %}
                    
                    {% if not match.applicable %}
                        $('.single-match-box{{match.unique_id}}').removeClass('single-match-box').addClass('single-match-box-upcoming');
                    {% endif %}
                </script>
            </div>
        {% endfor %}
    </form>
</div>

<script>
    /*$.get("https://cricapi.com/api/cricket?apikey=Nd53qOwpvHU5fCzNjzNUC530IZZ2", function(matchdata) {
        matchdata.data.forEach(function(md) {
            console.log(md.description + " - to grab more details, simply use the unique_id " + md.unique_id + " with the cricketScore api!");
            console.log(md);
        });
    });*/
</script>
{% endblock %}
